.container {
  display: grid;
  row-gap: 16px;
  padding: 24px;

  form {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 16px;
  }

  .password {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;
    align-items: center;
  }
}
