<div class="container">
  <form [formGroup]="passwordGeneratorForm">
    <label>Password length :</label>
    <mat-form-field>
      <input type="number" matInput [max]="2048" [min]="8" formControlName="length" />
    </mat-form-field>

    <label>Include symbols :</label>
    <mat-checkbox formControlName="symbols" color="primary">
      {{ '( e.g. ' + SYMBOLS.join(' ') + ' )' }}
    </mat-checkbox>

    <label>Include numbers :</label>
    <mat-checkbox formControlName="number" color="primary">
      {{ '( e.g. ' + NUMBER.join('') + ' )' }}
    </mat-checkbox>

    <label>Include lowercase characters :</label>
    <mat-checkbox formControlName="lowerCase" color="primary">
      {{ '( e.g. ' + LOWERCASE.join('') + ' )' }}
    </mat-checkbox>

    <label>Include uppercase characters :</label>
    <mat-checkbox formControlName="upperCase" color="primary"> {{ '( e.g. ' + (LOWERCASE.join('') | uppercase) + ' )' }}</mat-checkbox>

    <button mat-raised-button (click)="clear()">Clear</button>
    <button mat-raised-button color="primary" (click)="generatePassword()" [disabled]="!passwordGeneratorForm.valid">
      Generate password
    </button>
  </form>

  <div class="password">
    <mat-form-field>
      <input #passwordInput matInput readonly [formControl]="password" />
    </mat-form-field>
    <button mat-icon-button (click)="copy()">
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
</div>
