<div class="container">
  <form [formGroup]="passwordGeneratorForm">
    <label>Password length :</label>
    <mat-slider color="primary" [max]="2048" [min]="6" [thumbLabel]="true" formControlName="length"> </mat-slider>

    <label>Include symbols :</label>
    <mat-checkbox formControlName="symbols" color="primary">
      ( e.g. @ # $ % [ ] ( ) ~ * - _ ; )
    </mat-checkbox>

    <label>Include numbers :</label>
    <mat-checkbox formControlName="number" color="primary">
      ( e.g. 0123456789 )
    </mat-checkbox>

    <label>Include lowercase characters :</label>
    <mat-checkbox formControlName="lowerCase" color="primary">
      ( e.g. abcdefghijklmnopqrstuvwxyz )
    </mat-checkbox>

    <label>Include uppercase characters :</label>
    <mat-checkbox formControlName="upperCase" color="primary"> ( e.g. {{ 'abcdefghijklmnopqrstuvwxyz' | uppercase }} ) </mat-checkbox>

    <button mat-raised-button (click)="clear()">Clear</button>
    <button mat-raised-button color="primary" (click)="generatePassword()">
      Generate password
    </button>
  </form>

  <div class="password">
    <mat-form-field>
      <input matInput readonly [formControl]="password" />
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
</div>
