/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(53, 54, 58);
    color: white;
  }

  .mat-form-field-underline {
    background-color: rgba(white, 0.42) !important;
  }
}
